version: 2.1

jobs:
  sonarcloud-analysis:
    docker:
      - image: cimg/node:18.17
    working_directory: ~/project/frontend
    steps:
      - checkout

      # Go into frontend folder before installing dependencies
      - run:
          name: Install Dependencies
          command: |
            cd frontend
            npm install

      # Optional: run tests if available
      - run:
          name: Run Tests
          command: |
            cd frontend
            npm test || echo "No tests to run"

      # Run SonarCloud Scan
      - run:
          name: Run SonarCloud Analysis
          command: |
            npm install -g sonar-scanner
            cd frontend
            sonar-scanner \
              -Dsonar.organization=Areeb-Ibrahim \
              -Dsonar.projectKey=Areeb-Ibrahim_APDS-Payment-Portal \
              -Dsonar.sources=. \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  version: 2
  build_and_analyze:
    jobs:
      - sonarcloud-analysis
